@use '../../shared/styles/landing-shared.scss' as *;
@use '../../shared/styles/mixins.scss' as *;


.form-container{
  max-height: 80vh;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  justify-content: flex-start;
  text-align: left;
  gap: 16px;
}

h2, p, ul{
  width: 100%;
  cursor: default;
}

ul{
  padding-left: 20px;
}

strong {
  cursor: default !important;
}