@use '../../styles/mixins.scss' as *;
@use '../../styles/keyframes.scss' as *;

.toast-message {
  animation: slideInLeftQuick 0.2s ease-out;
  @include display(flex, row, flex-start, center);
  gap: 16px;
  padding: 8px 32px 8px 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  @include position(absolute, $bottom: 20px, $left: 20px);
  z-index: 9999;
  max-width: 320px;
  background: linear-gradient(to right, #232526, #414345);

  mat-icon {
    width: 30px;
    color: white;
  }

  &.hide {
    animation: toastFadeOut 0.4s ease-in-out forwards;
  }
}


.success {
  color: rgb(80, 248, 37);
}

.error {
  color: rgb(248, 80, 80);
}